@charset "utf-8";

@import url(reset.css);
@import url(common.css);

html{
  font-size: 15px;
}
body{
  max-width: 1920px;
  margin: 0 auto;
}
.faq_wrap{
  max-width: 1140px;
  margin: 0 auto;
}
.cat_depth{
  margin: 10px 0 50px;
  display: flex;
}
.cat_depth li{
  font-size: 12px;
  padding-right: 18px;
  margin-right: 11px;
  background: url(../images/faq_cat_depth_화살표.png) no-repeat right;
  color: #888;
}
.cat_depth li:last-child{
  padding-right: 0px;
  margin-right: 0px;
  background: none;
}
.cat_depth li a{
  color: #888;
}
.content_wrap{
  display: flex;
}
.content_wrap .side_wrap{
  border-top: 3px solid #000;
  padding: 29px 25px 39px 29px;
  margin-right: 40px;
}
.content_wrap .side_wrap .title{
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 28px;
}
.content_wrap .side_wrap .list li{
  margin-top: 20px;
  color: #888;
  font-size: 15px;
}
.content_wrap .side_wrap .list li:first-child{
  margin-top: 0px;
  color: #212121;
}
.content_wrap .side_wrap .info{
  margin-top: 40px;
}
.content_wrap .side_wrap .info .info_num{
  font-size: 18px;
  font-weight: bold;
}
.content_wrap .side_wrap .info .info_cs{
  margin-top: 12px;
  font-size: 12px;
  color: #888;
  line-height: 1.4;
  letter-spacing: -0.2px;
}
.content_wrap .side_wrap .info .inq_btn{
  margin-top: 20px;
  font-size: 18px;
  padding: 16px;
  text-align: center;
  border: 1px solid #222;
  font-weight: bold;
  cursor: pointer;
}
.content_wrap .board_wrap{
  width: 100%;
}
.content_wrap .board_wrap .title{
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  padding: 0 7px;
  margin-bottom: 21px;
}
.content_wrap .board_wrap .title::after{
  position: absolute;
  bottom: -5px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 14px;
  background: #fdb814;
  content: "";
  z-index: -1;
}
.content_wrap .board_wrap .search{
  background: url(../images/검색아이콘.png) no-repeat;
  padding-left: 40px;
  border-bottom: 2px solid #fdb814;
  padding-bottom: 10px;
}
.content_wrap .board_wrap .search input{
  border: none;
  font-size: 15px;
  color: #888;
}
.content_wrap .board_wrap .search input:focus{
  outline: none;
}
.content_wrap .board_wrap .inq{
  margin-top: 12px;
  font-size: 15px;
  text-align: right;
}
.content_wrap .board_wrap .inq strong{
  position: relative;
}
.content_wrap .board_wrap .inq strong::after{
  position: absolute;
  left: 0;
  bottom: -1px;
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #222;
  content: '';
}
.content_wrap .board_wrap .tab{
  display: flex;
  margin-top: 60px;
}
.content_wrap .board_wrap .tab li{
  position: relative;
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}
.content_wrap .board_wrap .tab li:first-child{
  padding-left: 0;
}
.content_wrap .board_wrap .tab li.active{
  font-weight: bold;
  color: #212121;
}
.content_wrap .board_wrap .tab li:not(:first-child)::before{
  position: absolute;
  left: 0;
  display: inline-block;
  width: 1px;
  height: 14px;
  content: "";
  background: #999;
}
.content_wrap .board_wrap .board_list{
  margin-top: 10px;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
}
.content_wrap .board_wrap .board_list li{
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  cursor: pointer;
}
.content_wrap .board_wrap .board_list li .board_title{
  line-height: 63px;
  font-size: 15px;
  font-weight: bold;
}
.content_wrap .board_wrap .board_list li .board_title .board_answer{
  display: none;
  color: #888;
  font-weight: normal;
  padding: 0 16px 23px;
  line-height: 1.5;
}

.content_wrap .board_wrap .board_list li .board_btn{
  width: 60px;
  flex-basis: 60px;
  background: url(../images/faq_icon_plus.png) no-repeat center;
  height: 63px;
  flex-shrink: 0;
}