@charset "utf-8";

@import url(reset.css);

body{
  max-width: 1920px;
  margin: 0 auto;
}
header{
  width: 100%;
}
header .tmenuwrap{
  width: 100%;
  background-color: #f9f9f9;
}
header .tmenu{
  margin: 0px auto;
  max-width: 1300px;
  height: 38px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .tmenu .login{
  display: flex;
}
header .tmenu .login li{
  margin-right: 20px;
}
header .tmenu .login li a{
  display: inline-block;
  font-size: 12px;
  color: #888;
  line-height: 38px;
}
header .tmenu #lang{
  height: 22px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-left: 10px;
}
header .menu{
  margin: 0px auto;
  max-width: 1300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  width: 145px;
}
header .logo img{
  width: 100%;
}
header .menu .gnb{
  display: flex;
  flex-wrap: wrap;
}
header .menu .gnb li{
  margin-right: 56px;
  font-size: 18px;
  font-weight: bold;
}
header .menu .gnb li:last-child{
  margin-right: 0px;
}
header .menu .gnb_icon{
  display: flex;
  margin-left: 18px;
}
header .menu .gnb_icon a{
  margin-left: 18px;
  width: 25px;
  height: 25px;
  display: block;
}
header .menu .gnb_icon .search{
  background: url(../images/검색아이콘.png) no-repeat;
}
header .menu .gnb_icon .basket{
  background: url(../images/장바구니아이콘.png) no-repeat;
}

#content1{
  position: relative;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}
#content1 .mainslide{
  margin-bottom: 0;
}
#content1 .mainslide .slick-list{
  padding-bottom: 0;
}
#content1 .mainslide div>li{
  position: relative;
  margin: 0 auto;
}
#content1 .mainslide li img{
  width: 100%;
}
#content1 .slick-prev,
#content1 .slick-next{
  top: 30%;
}
#content1 .slick-prev{
  left: 0;
}
#content1 .slick-next{
  right: 0;
}
#content1 .mainslide .slick-dots{
  top: -20px;
}

.banner{
  margin-top: 30px;
}
.banner img{
  width: 100%;
  object-fit: cover;
  min-height: 100px;
}

#content2>p a::after,
#content4>p a::after,
#content5>p a::after{
  width: 15px;
  height: 28px;
  background: url(../images/링크화살표.png) no-repeat;
  content: '';
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}

#content2{
  position: relative;
  max-width: 1140px;
  margin: 80px auto 73px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0 30px 0;
  overflow: hidden;
  background: url(../images/content2_스탬프.png) no-repeat top right;
}
#content2 p{
  font-size: 32px;
  margin: 0 auto 40px;
  max-width: 1040px;
  width: 100%;
}
#content2 .recomcont{
  margin: 40px auto 0;
}
#content2 .recomcont .drgSlide{
  max-width: 1040px;
  width: 100%;

  margin: 0 auto;
  /* position: absolute; */
}
#content2 .recomcont div>li{
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  height: 100%;
  display: block;
}
#content2 .recomcont li .recomtop{
  margin-bottom: 32px;
}
#content2 .recomcont li .recomtop img{
  width: 100%;
}
#content2 .recomcont li .recombottom{
  display: flex;
  flex-direction: column;
}
#content2 .recomcont li .recombottom .recomfirst{
  display: flex;
  border: 1px solid #f6f6f6;
  margin-bottom: 10px;
}
#content2 .recomcont li .recombottom .recomsecond{
  display: flex;
  border: 1px solid #f6f6f6;
}
#content2 .recomcont li .recombottom .img{
  flex: 0.25;
}
#content2 .recomcont li .recombottom .img img{
  max-width: 109.2px;
  background-color: #f9f9f9;
  border: 1px solid #f6f6f6;
  width: 100%;
  box-sizing: border-box;
}
#content2 .recomcont li .recombottom .txt{
  flex: 0.75;
  margin: 15px;
}
#content2 .recomcont li .txt .txt1{
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  letter-spacing: -1px;
}
#content2 .recomcont li .txt .txt2{
  font-size: 15px;
  text-decoration: line-through;
  color: #888;
}
#content2 .recomcont li .txt .txt3{
  position: relative;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

#content3{
  background: url(../images/content3_bg.jpg) center/cover;
  padding: 0 30px 83px;
  overflow: hidden;
}
#content3 p{
  font-size: 32px;
  padding: 40px 0 38px;
  text-align: center;
}
#content3 .popcont{
  margin: 0 auto;
  max-width: 1040px;
}
#content3 .popcont .tape{
  background-image: url(../images/content3_bg-tape.png);
  width: 112px;
  height: 103px;
  position: absolute;
  top: -30px;
  left: -40px;
}
#content3 .popcont div>li{
  position: relative;
  margin: 0 10px;
}
#content3 .popcont .slick-slide:nth-child(odd){
  margin-top: 20px;
}
#content3 .popcont li .img{
  max-width: 240px;
  background-color: #f9f9f9;
  margin: 0 auto;
}
#content3 .popcont li .img img{
  width: 100%;
}

#content3 .slick-prev,
#content3 .slick-next,
#content4 .slick-prev,
#content4 .slick-next{
  width: 70px;
  height: 68px;
  top: 20%;
}
#content3 .slick-prev,
#content4 .slick-prev{
  left: -35px;
}
#content3 .slick-next,
#content4 .slick-next{
  right: -30px;
}

#content4{
  position: relative;
  max-width: 1140px;
  width: 100%;
  margin-top: 70px;
  margin: 70px auto;
  padding: 0 30px 0;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../images/content4_스탬프.png) no-repeat bottom right;
}
#content4>p{
  max-width: 1040px;
  font-size: 32px;
  margin: 0 auto;
  display: block;
}
#content4 .catitem{
  max-width: 1040px;
  width: 100%;
  display: flex;
  margin: 35px auto 25px;
}
#content4 .catitem li{
  margin: 0 18px;
  width: 100%;
  cursor: pointer;
}
#content4 .catitem li:last-child{
  margin-right: 0;
}
#content4 .catitem li:first-child{
  margin-left: 0;
}
#content4 .catitem li img{
  width: 100%;
  margin-bottom: 8px;
}
#content4 .catitem li span{
  font-size: 15px;
  display: block;
  text-align: center;
}
#content4 .catcont div>li{
  position: relative;
  margin: 0 10px;
  pointer-events: none;
}
#content4 .catcont .slick-slide:nth-child(odd){
  margin-top: 20px;
}
#content4 .catcont li .img{
  max-width: 240px;
  background-color: #f9f9f9;
  margin: 0 auto;
}
#content4 .catcont li .img img{
  width: 100%;
}

li .txt{
  margin: 15px auto;
  max-width: 240px;
}
li .txt1{
  font-size: 15px;
  line-height: 20px;
  height: 40px;
  letter-spacing: -1px;
}
li .txt2{
  font-size: 15px;
  text-decoration: line-through;
  color: #888;
}
li .txt3{
  position: relative;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
li .txt4{
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  top: 5px;
  right: 0;
}
li .txt4 .star{
  background: url(../images/content4_평점별.png) no-repeat;
  width: 15px;
  height: 13px;
  display: inline-block;
}
li .txt4 .rev{
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}

#content5{
  position: relative;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 80px 0;
  box-sizing: border-box;
  overflow: hidden;
}
#content5::before{
  position: absolute;
  content: '';
  display: block;
  width: 150px;
  height: 147px;
  left: 0;
  background: url(../images/content5_당근.png) no-repeat;
  animation: mover 2s infinite alternate;
}
@keyframes mover{
  from{
    bottom:20px;
  }
  to{
    bottom:40px;
  }
}
#content5 p{
  font-size: 32px;
  margin: 0 auto 32px;
  max-width: 1022px;
  width: 100%;
}
#content5 .photoreview div>li{
  position: relative;
  margin: 0 auto;
  max-width: 1022px;
}
#content5 .photoreview li img{
  width: 100%;
}
#content5 .slick-prev,
#content5 .slick-next{
  top: 140px;
}

#content6{
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  margin: 100px auto 50px;
  padding: 0 30px;
}
#content6 .instalogo{
  width: 100%;
  padding: 0 0 28px;
  border-bottom: 1px solid #ddd;
}
#content6 .instalogo .img{
  margin: auto;
  width: 190px;
  height: 30px;
}
#content6 .instagram{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content6 .instagram .profile{
  display: flex;
}
#content6 .instagram .profile .profile_img{
  width: 65px;
  height: 65px;
  margin-right: 10px;
}
#content6 .instagram .profile .profile_img img{
  width: 100%;
  border-radius: 50%;
}
#content6 .instagram .profile .profile_use{
  padding-top: 10px;
  font-size: 16px;
}
#content6 .instagram .follow{
  border: 1px solid #666;
  width: 98px;
  height: 32px;
  text-align: center;
}
#content6 .instagram .follow a{
  line-height: 32px;
  font-size: 15px;
  display: block;
}
#content6 .photo{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
#content6 .photo .photoitem1,
#content6 .photo .photoitem4,
#content6 .photo .photoitem6,
#content6 .photo .photoitem7,
#content6 .photo .photoitem10,
#content6 .photo .photoitem12,
#content6 .photo .photoitem13,
#content6 .photo .photoitem14
{
  grid-column: span 2;
  grid-row: span 2;
}
#content6 .photo .photoitem5,
#content6 .photo .photoitem11{
  grid-column: span 2;
  grid-row: span 3;
}
#content6 .photo .photoitem img{
  width: 100%;
  height: 100%;
}

footer{
  background: url(../images/footer_bg.png) no-repeat center/cover;
  height: 270px;
  padding-top: 176px;
  color: #fff;
}
footer .txtwrap{
  margin: auto;
  max-width: 1200px;
}
footer .txtwrap .nav_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .txtwrap .nav_wrap .nav_txt{
  display: flex;
}
footer .txtwrap .nav_wrap .nav_txt>li{
  padding-right: 18px;
}
footer .txtwrap .nav_wrap .nav_txt>li:last-child{
  padding-right: 0px;
}
footer .txtwrap .nav_wrap .nav_txt>li:hover{
  text-decoration: underline 1px;
}
footer .txtwrap .nav_wrap .nav_txt>li a{
  color: #fff;
  font-size: 15px;
  padding-right: 18px;
  border-right: 1px solid #999;
}
footer .txtwrap .nav_wrap .nav_txt>li:last-child a{
  border-right: none;
  padding-right: 0px;
}
footer .txtwrap .nav_wrap .select{
  display: flex;
}
footer .txtwrap .nav_wrap .select .select_btn{
  position: relative;
  background-color: transparent;
  color: #ddd;
  border: 1px solid #ddd;
  height: 27px;
  line-height: 27px;
  padding-left: 12px;
  font-size: 15px;
  text-align: left;
  width: 148px;
  box-sizing: border-box;
  margin-left: 18px;
  cursor: pointer;
}
footer .txtwrap .nav_wrap .select .select_btn::before{
  content: '';
  margin: auto;
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 10px;
  right: 10px;
  background: url(../images/footer_화살표아이콘.png) no-repeat;
  background-size: contain;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
}
footer .txtwrap .nav_wrap .select .select_btn:hover::before{
  transform: rotate(180deg);
}
footer .txtwrap .nav_wrap .select .select_btn:hover .select_list{
  display: inline-block;
}
footer .txtwrap .nav_wrap .select .select_list{
  position: absolute;
  display: none/* inline-block */;
  padding: 17px;
  width: 140px;
  left: 0;
  font-size: 15px;
  background-color: #3e3736;
  color: #ddd;
  overflow-y: scroll;
  box-sizing: border-box;
  top: 26px;
  border: 1px solid #999999;
  height: 160px;
}
footer .txtwrap .nav_wrap .select .select_list li:hover{
  text-decoration: underline;
}
footer .txtwrap .nav_wrap .sns_txt{
  display: flex;
}
footer .txtwrap .nav_wrap .sns_txt .img{
  width: 30px;
  height: 32px;
  margin-left: 12px;
}
footer .txtwrap .nav_wrap .sns_txt .img:first-child{
  background: url(../images/footer_sns_유튜브.png);
}
footer .txtwrap .nav_wrap .sns_txt .img:nth-child(2){
  background: url(../images/footer_sns_페이스북.png);
}
footer .txtwrap .nav_wrap .sns_txt .img:last-child{
  background: url(../images/footer_sns_인스타그램.png);
}
footer .txtwrap .copy_wrap{
  display: flex;
  padding: 33px 0 65px 0;
}
footer .txtwrap .copy_wrap .copy_txt li{
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  padding-left: 10px;
  color: #ddd;
}
footer .txtwrap .copy_wrap .copy_txt li:not(.first)::before{
  background-color: #ddd;
  content: '';
  width: 1px;
  display: inline-block;
  height: 12px;
  margin-right: 10px;
}
footer .txtwrap .copy_wrap .copy_txt li.first{
  padding-left: 0px;
}
footer .txtwrap .cs_txt{
  color: #ddd;
  margin-left: 110px
}
footer .txtwrap .cs_txt .cs_txt1{
  font-size: 15px;
}
footer .txtwrap .cs_txt .cs_txt2{
  font-size: 32px;
  text-decoration: underline;
  margin-bottom: 10px;
  box-sizing: border-box;
}
footer .txtwrap .cs_txt .cs_txt3{
  font-size: 5px;
}
footer .txtwrap .cs_txt .cs_txt4{
  font-size: 5px;
  margin-top: 5px;
}