@charset "utf-8";

@import url(reset.css);

html{
  font-size: 15px;
}
body{
  max-width: 1920px;
  margin: 0 auto;
}
header{
  width: 100%;
}
header .tmenu_wrap{
  width: 100%;
  background-color: #f9f9f9;
}
header .tmenu_wrap .tmenu{
  margin: 0px auto;
  max-width: 1300px;
  height: 38px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .tmenu_wrap .tmenu .login{
  display: flex;
}
header .tmenu_wrap .tmenu .login li{
  margin-right: 20px;
}
header .tmenu_wrap .tmenu .login li a{
  font-size: 12px;
  color: #888;
  line-height: 38px;
}
header .tmenu_wrap .tmenu .login li a:hover{
  text-decoration: underline;
}
header .tmenu_wrap .tmenu #lang{
  height: 22px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-left: 10px;
}
header .menu_wrap{
  width: 100%;
  border-bottom: 1px solid #ddd;
}
header .menu_wrap .menu{
  margin: 0px auto;
  max-width: 1300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu_wrap .menu .logo{
  width: 145px;
}
header .menu_wrap .menu .logo img{
  width: 100%;
}
header .menu_wrap .menu .gnb{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}
header .menu_wrap .menu .gnb>li{
  margin-right: 70px;
  font-size: 1.2rem;
  font-weight: bold;
}
header .menu_wrap .menu .gnb>li:last-child{
  margin-right: 0px;
}
header .menu_wrap .menu .gnb li .gnb_2depth{
  display: none;
  position: absolute;
  font-weight: normal;
  margin-top: 53px;
  z-index: 4;
}
header .menu_wrap .menu .gnb li .gnb_2depth li{
  font-size: 13px;
  padding: 13px 0;
}
header .menu_wrap .menu .gnb li .gnb_2depth li:hover{
  font-weight: bold;
}
header .menu_wrap .menu .gnb li .gnb_2depth li a{
  position: relative;
}
header .menu_wrap .menu .gnb li .gnb_2depth li.on:hover a::before{
  content: '';
  background-color: #fdb812;
  height: 10px;
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: 7px;
}
header .menu_wrap .menu .gnb li .gnb_2depth li .gnb_3depth{
  display: none;
  top: -9.4px;
  margin-left: 80px;
  position: absolute;
  height: 246px;
  padding: 10px 0 38px 20px;
  background-color: #f9f9f9;
  max-width: 830px;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
header .menu_wrap .menu .gnb li .gnb_2depth li:hover .gnb_3depth{
  display: flex;
}
/* header .menu .gnb li .gnb_2depth li:nth-child(4) .gnb_3depth{
  display: flex;
} */
/* header .menu .gnb li .gnb_2depth li:hover .gnb_3depth{
  display: block;
} */
header .menu_wrap .menu .gnb li .gnb_2depth li .gnb_3depth li{
  width: 100px;
  font-weight: normal;
  padding-right: 20px;
}
header .menu_wrap .menu .gnb li .gnb_2depth li .line li:nth-child(22){
  margin-bottom: 50px;
}
header .menu_wrap .menu .gnb li .gnb_2depth li .line li:nth-child(28),
header .menu_wrap .menu .gnb li .gnb_2depth li .line li:nth-child(34){
  margin-bottom: 200px;
}
header .menu_wrap .menu .gnb li .gnb_2depth li .gnb_3depth li:hover{
  font-weight: bold;
}
header .menu_wrap .menu .gnb_icon{
  display: flex;
}
header .menu_wrap .menu .gnb_icon a{
  margin-left: 18px;
  width: 25px;
  height: 25px;
  display: block;
}
header .menu_wrap .menu .gnb_icon .search{
  background: url(../images/검색아이콘.png) no-repeat;
}
header .menu_wrap .menu .gnb_icon .basket{
  background: url(../images/장바구니아이콘.png) no-repeat;
}
header .smenu_wrap{
  display: none;
  position: absolute;
  width: 100%;
  height: 260px;
  background-color: #fff;
  z-index: 3;
  padding: 24px 0 10px;
  max-width: 1920px;
}
header .smenu_wrap .smenu{
  margin: 0 auto;
  max-width: 1300px;
}
header .smenu_wrap .smenu .img{
  margin-right: 900px;
  max-width: 340px;
  min-width: 150px;
}
header .smenu_wrap .smenu .img img{
  width: 100%;
}

.scroll{
  transform: translateY(30%);
	opacity: 0;
	transition: .8s ease-in-out;
}
.scroll.on{
	transform: translateY(0);
	opacity: 1;
}

#content1 .main_slide{
  margin-bottom: 0;
}
#content1 .main_slide .slick-list{
  padding-bottom: 0;
}
#content1 .main_slide div>li{
  margin: 0 auto;
}
#content1 .main_slide li img{
  width: 100%;
}
#content1 .main_slide .slick-prev,
#content1 .main_slide .slick-next{
  top: 30%;
}
#content1 .main_slide .slick-prev{
  left: 100px;
}
#content1 .main_slide .slick-next{
  right: 100px;
}
#content1 .main_slide .slick-dots{
  top: -20px;
}

.banner{
  margin-top: 30px;
}
.banner img{
  width: 100%;
  object-fit: cover;
  min-height: 100px;
}

.content{
  padding: 0 30px;
  overflow: hidden;
}
.content p{
  font-size: 2.13rem;
  margin: 0 auto;
  max-width: 1040px;
  text-indent: 10px;
}
.content p a::after{
  width: 15px;
  height: 28px;
  background: url(../images/링크화살표.png) no-repeat;
  content: '';
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}

#content2{
  margin-top: 80px;
  background: url(../images/content2_스탬프.png) no-repeat top right;
}
#content2 .recom_slide{
  max-width: 1040px;
  margin: 40px auto 0;
}
#content2 .recom_slide div>li{
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  height: 100%;
}
#content2 .recom_slide li .recom_top{
  margin-bottom: 32px;
}
#content2 .recom_slide li .recom_top img{
  width: 100%;
}
#content2 .recom_slide li .recom_bottom{
  display: flex;
  flex-direction: column;
}
#content2 .recom_slide li .recom_bottom .recom_bottom_cont{
  display: flex;
  border: 1px solid #f6f6f6;
  margin-bottom: 10px;
}
#content2 .recom_slide li .recom_bottom .img{
  flex: 0.25;
}
#content2 .recom_slide li .recom_bottom .img img{
  max-width: 110px;
  min-width: 100px;
  background-color: #f9f9f9;
  border: 1px solid #f6f6f6;
  width: 100%;
  box-sizing: border-box;
}
#content2 .recom_slide li .recom_bottom .txt{
  flex: 0.75;
  margin: 15px;
  max-width: none;
}

li .txt{
  margin: 15px auto;
  max-width: 240px;
}
li .txt1{
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -1px;
}
li .txt2{
  font-size: 1rem;
  text-decoration: line-through;
  color: #888;
}
li .txt3{
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
}
li .txt3 .txt4{
  position: absolute;
  font-size: 1.2rem;
  top: 5px;
  right: 0;
}
li .txt3 .txt4 .star{
  background: url(../images/content4_평점별.png) no-repeat;
  width: 15px;
  height: 13px;
  display: inline-block;
}
li .txt3 .txt4 .rev{
  font-size: 0.8rem;
  font-weight: bold;
}

#content3{
  margin-top: 80px;
  background: url(../images/content3_bg.jpg) center/cover;
  padding: 0 30px 83px;
  overflow: hidden;
}
#content3 p{
  font-size: 2.13rem;
  margin-top: 40px;
  text-align: center;
}
#content3 .populer_slide{
  margin: 40px auto 0;
  max-width: 1040px;
}
#content3 .populer_slide .tape{
  background-image: url(../images/content3_bg-tape.png);
  width: 112px;
  height: 103px;
  position: absolute;
  top: -30px;
  left: -40px;
}
#content3 .populer_slide div>li{
  margin: 0 10px;
}
#content3 .populer_slide .slick-slide:nth-child(odd){
  margin-top: 20px;
}
#content3 .populer_slide li .img{
  position: relative;
  background-color: #f9f9f9;
  aspect-ratio: 1;
}
#content3 .populer_slide li .img img{
  position: absolute;
  width: 100%;
}

li .img .icon_wrap{
  display: none;
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 35px;
  box-sizing: border-box;
  justify-content: space-around;
}
li .img:hover .icon_wrap{
  display: flex;
}
li .img .icon_wrap div{
  aspect-ratio: 1;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
li .img .icon_wrap .wish{
  background: url(../images/위시아이콘.png) no-repeat center/50% #fff;
}
li .img .icon_wrap .cart{
  background: url(../images/장바구니추가아이콘.png) no-repeat center/50% #fff;
}

#content3 .slick-prev,
#content3 .slick-next,
#content4 .slick-prev,
#content4 .slick-next{
  width: 7%;
  top: 20%;
}
#content3 .slick-prev,
#content4 .slick-prev{
  left: -35px;
}
#content3 .slick-next,
#content4 .slick-next{
  right: -30px;
}

#content4{
  margin-top: 70px;
  background: url(../images/content4_스탬프.png) no-repeat bottom right;
}
#content4 .cat_item{
  max-width: 1040px;
  display: flex;
  margin: 35px auto 25px;
}
#content4 .cat_item li{
  margin: 0 18px;
  cursor: pointer;
}
#content4 .cat_item li:first-child{
  margin-left: 0;
}
#content4 .cat_item li:last-child{
  margin-right: 0;
}
#content4 .cat_item li img{
  width: 100%;
  margin-bottom: 8px;
}
#content4 .cat_item li span{
  font-size: 1rem;
  display: block;
  text-align: center;
}
#content4 .cat_slide{
  max-width: 1040px;
  margin: 0 auto;
}
#content4 .cat_slide div>li{
  margin: 0 10px;
  /* pointer-events: none; */
}
#content4 .cat_slide .slick-slide:nth-child(odd){
  margin-top: 20px;
}
#content4 .cat_slide li .img{
  position: relative;
  background-color: #f9f9f9;
  aspect-ratio: 1;
}
#content4 .cat_slide li .img img{
  width: 100%;
  position: absolute;
}

#content5{
  margin-top: 80px;
}
#content5 .review_slide::before{
  position: absolute;
  content: '';
  width: 150px;
  height: 147px;
  left: -80px;
  background: url(../images/content5_당근.png) no-repeat;
  animation: mover 2s infinite alternate;
}
@keyframes mover{
  from{
    bottom:0px;
  }
  to{
    bottom:20px;
  }
}
#content5 .review_slide{
  max-width: 1040px;
  margin: 32px auto 0;
  margin-top: 32px;
}
#content5 .review_slide li img{
  width: 100%;
}
#content5 .review_slide .slick-prev,
#content5 .review_slide .slick-next{
  top: 30%;
}
#content5 .review_slide .slick-prev{
  left: -50px;
}
#content5 .review_slide .slick-next{
  right: -50px;
}

#content6{
  max-width: 1040px;
  overflow: hidden;
  margin: 100px auto 50px;
  padding: 0 30px;
}
#content6 .instalogo{
  padding-bottom: 28px;
  border-bottom: 1px solid #ddd;
}
#content6 .instalogo .img{
  margin: auto;
  width: 190px;
  height: 30px;
}
#content6 .instagram{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content6 .instagram .profile{
  display: flex;
}
#content6 .instagram .profile .profile_img{
  width: 65px;
  margin-right: 10px;
}
#content6 .instagram .profile .profile_img img{
  width: 100%;
  border-radius: 50%;
}
#content6 .instagram .profile .profile_use{
  padding-top: 10px;
  font-size: 1rem;
}
#content6 .instagram .follow{
  border: 1px solid #666;
  width: 98px;
  height: 32px;
  text-align: center;
}
#content6 .instagram .follow a{
  line-height: 32px;
  font-size: 1rem;
  display: block;
}
#content6 .photo{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
#content6 .photo .photo_item1,
#content6 .photo .photo_item4,
#content6 .photo .photo_item6,
#content6 .photo .photo_item7,
#content6 .photo .photo_item10,
#content6 .photo .photo_item12,
#content6 .photo .photo_item13,
#content6 .photo .photo_item14
{
  grid-column: span 2;
  grid-row: span 2;
}
#content6 .photo .photo_item5,
#content6 .photo .photo_item11{
  grid-column: span 2;
  grid-row: span 3;
}
#content6 .photo .photo_item img{
  width: 100%;
  height: 100%;
}

footer{
  background: url(../images/footer_bg.png) no-repeat center/cover;
  height: 270px;
  padding-top: 176px;
  color: #fff;
}
footer .txt_wrap{
  margin: auto;
  max-width: 1200px;
}
footer .txt_wrap .nav_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .txt_wrap .nav_wrap .nav_txt{
  display: flex;
}
footer .txt_wrap .nav_wrap .nav_txt>li{
  padding-right: 14px;
}
footer .txt_wrap .nav_wrap .nav_txt>li:last-child{
  padding-right: 0px;
}
footer .txt_wrap .nav_wrap .nav_txt>li:hover{
  text-decoration: underline 1px;
}
footer .txt_wrap .nav_wrap .nav_txt>li a{
  color: #fff;
  font-size: 1rem;
  padding-right: 14px;
  border-right: 1px solid #999;
}
footer .txt_wrap .nav_wrap .nav_txt>li:last-child a{
  border-right: none;
  padding-right: 0px;
}
footer .txt_wrap .nav_wrap .seletsns_wrap{
  display: flex;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .select{
  display: flex;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .select .select_btn{
  position: relative;
  background-color: transparent;
  color: #ddd;
  border: 1px solid #ddd;
  height: 27px;
  line-height: 27px;
  padding-left: 12px;
  font-size: 1rem;
  width: 148px;
  box-sizing: border-box;
  margin-left: 18px;
  cursor: pointer;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .select .select_btn::before{
  content: '';
  margin: auto;
  position: absolute;
  width: 11px;
  height: 10px;
  right: 10px;
  background: url(../images/footer_화살표아이콘.png) no-repeat;
  background-size: contain;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .select .select_btn:hover::before{
  transform: rotate(180deg);
}
footer .txt_wrap .nav_wrap .seletsns_wrap .select .select_btn:hover .select_list{
  display: block;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .select .select_list{
  display: none;
  position: absolute;
  padding: 17px;
  width: 140px;
  left: 0;
  font-size: 1rem;
  background-color: #3e3736;
  color: #ddd;
  overflow-y: scroll;
  box-sizing: border-box;
  top: 26px;
  border: 1px solid #999;
  height: 160px;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .select .select_list li:hover{
  text-decoration: underline;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .sns_txt{
  display: flex;
  margin-left: 10px;
}
footer .txt_wrap .nav_wrap .seletsns_wrap .sns_txt .img{
  width: 30px;
  height: 32px;
  margin-left: 12px;
}
footer .txt_wrap .copy_wrap{
  display: flex;
  padding: 33px 0 65px;
}
footer .txt_wrap .copy_wrap .copy_txt li{
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  padding-left: 10px;
  color: #ddd;
}
footer .txt_wrap .copy_wrap .copy_txt li.first{
  padding-left: 0px;
}
footer .txt_wrap .copy_wrap .copy_txt li:not(.first)::before{
  background-color: #ddd;
  content: '';
  width: 1px;
  display: inline-block;
  height: 12px;
  margin-right: 10px;
}
footer .txt_wrap .copy_wrap .cs_txt{
  color: #ddd;
  margin-left: 110px
}
footer .txt_wrap .copy_wrap .cs_txt .cs_txt1{
  font-size: 15px;
}
footer .txt_wrap .copy_wrap .cs_txt .cs_txt2{
  font-size: 2.13rem;
  text-decoration: underline;
  margin-bottom: 10px;
}
footer .txt_wrap .copy_wrap .cs_txt .cs_txt3{
  font-size: 12px;
}
footer .txt_wrap .copy_wrap .cs_txt .cs_txt4{
  font-size: 12px;
  margin-top: 5px;
}

.top_btn{
  display: none;
  opacity: 0;
  position: fixed;
  width: 70px;
  height: 68px;
  right: 50px;
  bottom: 50px;
  background: url(../images/top버튼.png) no-repeat center/cover;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  z-index: 3;
  cursor: pointer;
}
.top_btn::before{
  width: 22px;
  height: 12px;
  content: '';
  display: block;
  background: url(../images/top버튼화살표.png) no-repeat center;
  margin: 20px auto 0;
}