@charset "utf-8";

@media screen and (max-width: 1100px){
  footer{
    padding-top: 156px;
  }
  footer .txt_wrap .nav_wrap{
    justify-content: space-around;
  }
  footer .txt_wrap .nav_wrap .nav_txt{
    margin-bottom: 20px;
  }
  footer .txt_wrap .nav_wrap .seletsns_wrap .sns_txt{
    margin-left: 30px;
  }
  footer .txt_wrap .copy_wrap{
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 900px){
  html{
    font-size: 12px;
  }
  header .menu_wrap .menu .gnb>li{
    margin-right: 50px;
  }
  header .smenu_wrap .smenu .img{
    display: none;
  }
  header .menu_wrap .menu .gnb li:first-child .gnb_2depth{
    transform: translateX(-20px);
  }
  header .menu_wrap .menu .gnb li .gnb_2depth li{
    letter-spacing: -1px;
  }
  header .menu_wrap .menu .gnb li .gnb_2depth li .gnb_3depth {
    margin-left: 50px;
  }
  header .menu_wrap .menu .gnb li .gnb_2depth li .gnb_3depth li{
    padding-right: 0px;
  }
  #content4 .cat_item li{
    margin: 0 9px;
  }
  footer{
    padding-top: 100px;
  }
  footer .txt_wrap .copy_wrap{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  footer .txt_wrap .copy_wrap .cs_txt{
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    align-items: center;
  }
  footer .txt_wrap .copy_wrap .cs_txt p{
    margin-right: 15px;
  }
  footer .txt_wrap .copy_wrap .cs_txt .cs_txt4{
    margin-top: 0;
  }
}
@media screen and (max-width: 720px){
  html{
    font-size: 15px;
  }
  header{
    /* position: fixed; */
    z-index: 3;
  }
  header .tmenu_wrap{
    display: none;
  }
  header .menu_wrap .menu{
    padding: 0 20px;
  }
  header .menu_wrap .menu .gnb{
    display: none;
  }
  header .mgnb{
    display: flex;
    padding: 20px 10px;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
  }
  header .mgnb li{
    font-size: 18px;
  }

  #content1 .main_slide li img{
    min-height: 180px;
    object-fit: cover;
    aspect-ratio: 2;
  }

  .banner img{
    min-height: 50px;
  }

  /* .content{
    padding: 0 20px;
  } */

  #content2{
    margin-top: 40px;
  }
  #content2 .recom_slide li .recom_bottom .img img{
    max-width: none;
  }
  #content2 .recom_slide li .recom_bottom .txt{
    margin: 10px 20px;
  }

  #content3{
    margin-top: 40px;
    padding-bottom: 50px;
  }

  #content3 .slick-slide:nth-child(odd),
  #content4 .slick-slide:nth-child(odd)
  {
    margin-top: 0px;
  }

  #content4{
    margin-top: 40px;
  }
  #content4 .cat_item{
    overflow-x: scroll;
    overflow-y: hidden;
  }
  #content4 .cat_item li{
    min-width: 60px;
  }

  #content5{
    margin-top: 40px;
  }

  #content6{
    margin-top: 60px;
  }
  #content6 .photo{
    grid-gap: 4px;
  }
}